* {
    font-family: 'Fira Sans', sans-serif;
    color: #333;
}

html {
    font-size: 16px;
}

/* Introduction */
.container-introduction {
    margin-top: 20vh;
    margin-left: 10vw;
    margin-right: 10vw;
    letter-spacing: -1px;
}